{
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-astro"],
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
