---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "First Assessment",
    price: "150 EUR",
    popular: true,
    features: [
      "Detailed Code Review",
      "Custom Migration Plan",
      // "Risk Identification",
      "Expert Consultation",
      "Quote",
    ],
    button: {
      text: "Get a quote",
      link: "/contact#quote",
    },
    description:
      "Get a comprehensive analysis of your Vue 2 codebase with a tailored migration plan and expert advice.",
  },
  {
    name: "Full Migration",
    price: "Custom",
    popular: false,
    features: [
      "Complete Migration Service",
      "Compatibility Assurance",
      "Thorough Testing",
      "Deployment Support",
    ],
    button: {
      text: "Get a quote",
      link: "/contact#quote",
    },
    description:
      "End-to-end migration from Vue 2 to Vue 3 with full testing, optimization, and deployment support.",
  },
  {
    name: "Hire Per Hour",
    price: "90 EUR / h",
    popular: false,
    features: [
      "Flexible Hours",
      "Task-Based Work",
      "On-Demand Expertise",
      "Scalable Support",
    ],
    button: {
      text: "Contact me",
      link: "/contact#hire",
    },
    description:
      "Get expert help on specific tasks as needed, with flexible hourly engagement.",
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
