---
import type { Props } from "@astrojs/starlight/props";
import { Icon } from "astro-icon/components";
---

<a href="/" class="text-xl flex items-center">
  <span class="text-[#34495E]">2</span>
  <Icon name="logos:vue" class="-rotate-90" size="0.6em" />
  <span class="text-[#41B883] -ml-1 inline-block">3</span>
  &nbsp;
  <span class="text-[#34495E]">migrate</span>
  <span class="text-[#41B883]">-vue</span>
</a>
