---
// github.com/rezahedi/rezahedi.dev/blob/main/src/components/TOC.astro
import GuideNavigationHeading from "@components/GuideNavigationHeading.astro";

const { headings } = Astro.props;
---

{
  headings && headings.length > 0 && (
    <nav class="article-toc">
      <ul>
        {headings.map((heading) => (
          <GuideNavigationHeading heading={heading} />
        ))}
      </ul>
    </nav>
  )
}
