---
import { Picture } from "astro:assets";
import heroImage from "assets/hero-image-new.webp";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid md:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block w-2/3">
    <Picture
      src={heroImage}
      alt=""
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      <span class="text-[#41B883]">Migrate</span>
      <span
        class="bg-gradient-to-r from-[#41B883] to-[#34495E] bg-clip-text text-transparent">
        Vue
      </span>
      <span class="inline-flex text-[#34495E]">
        2<Icon name="mi:arrow-right" />3
      </span>
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Vue 2 reached its end-of-life in 2023, making it increasingly difficult to
      maintain the codebase, add new features, and find developers familiar with
      it; migrating to Vue 3 is essential to ensure continued support, easier
      maintenance, and access to modern best practices.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/guide"
        class="flex gap-1 items-center justify-center"
        style="outline">
        <Icon class="w-5 h-5" name="mdi:learn-outline" />
        Learn how to migrate
      </Link>
      <!-- <Link
        size="lg"
        style="outline"
        href="/pricing"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="mdi:account-help-outline" />
        Need help?
      </Link> -->
      <Link
        size="lg"
        href="/pricing"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-white w-5 h-5" name="mdi:coins" />
        Check our prices
      </Link>
    </div>
  </div>
</main>
