---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/bricolage-grotesque";
import src from "@assets/hero-image-new.webp";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site,
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "migrate-vue"
  : "migrate-vue - Migrate your Vue codebase to Vue 3";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preload" as="image" href={src.src} />

    <!-- Google Tag Manager via Anogate -->
    <script type="text/plain" data-anogate="GTM">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-N3R7DHWT");
    </script>
    <script
      src="https://load01.anogate.io/js/?id=AG-31F914ALD1"
      async
      id="Anogate"
    ></script>
    <!-- End Google Tag Manager via Anogate -->

    <SEO
      title={makeTitle}
      description="Learn how to migrate your Vue codebase to Vue 3"
      canonical={canonicalURL}
      twitter={{
        creator: "@saulmurf",
        // site: "@web3templates",
        card: "summary_large_image",
        image: resolvedImageWithDomain,
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `migrate-vue - Migrate your Vue codebase to Vue 3`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "migrate-vue Homepage Screenshot",
        },
        optional: {
          locale: "en",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
